.hotBids {
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      font-family: 'Quicksand';
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: #A5F3FC;
      margin-bottom: 20px;
    }
    .more {
      font-family: 'Quicksand';
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      transition: .3s linear;

      svg {
        margin-left: 10px;
        transition: .2s linear;

        path {
          transition: .2s linear;
        }
      }

      &:hover {
        color: #5EEAD4;

        svg {
          margin-left: 16px;

          path {
            fill: #5EEAD4;
          }
        }
      }
    }
  }

  .bids {
    display: flex;
    min-width: 1328px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    flex-wrap: wrap;

  }
}