.animeItem {
  margin-top: 50px;
  display: flex;
  .imgWrap {
    width: 100%;
    max-width: 450px;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid #2E357B;
    transition: .3s linear;
    margin-right: 100px;

    img {
      width: 100%;
      display: block;
      transition: .3s linear;
    }

    &:hover {
      border-color: #1fa2ff;

      img {
        transform: scale(1.03);
      }
    }
  }
}