.inputWrap {
  width: 449px;
  height: 56px;
  background: linear-gradient(162.34deg, #161A42 22.61%, rgba(22, 26, 66, 0) 118.29%);
  border-radius: 16px;
  padding-left: 70px;
  display: flex;
  align-items: center;
  position: relative;
  border: 2px solid #212554;
  transition: .3s linear;

  .searchResults {
    position: absolute;
    top: 65px;
    left: 0;
    max-width: 600px;
    width: 150%;
    height: 400px;
    z-index: 101;
    background: #161a42;
    border: 2px solid #1fa2ff;
    border-radius: 15px;
    overflow-y: auto;
    padding: 20px;
    overflow-x: hidden;

    .notfound {
      font-size: 30px;
      font-weight: 600;
    }

    .title {
      margin-bottom: 30px;
    }

    .result {
      display: flex;
      margin-bottom: 20px;



      img {
        width: 100px;
        border-radius: 15px;
        margin-right: 20px;
      }
    }
  }

  &:focus-within {
    border-color: rgba(31, 162, 255, 0.68);
  }


  .input {
    height: 100%;
    background: transparent;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .icon {
    position: absolute;
    top: 13px;
    left: 20px;

    path {
      opacity: .5;
      transition: .3s linear;
    }
  }

  &:focus-within {
    .icon path {
      opacity: .8;
    }
  }
}